main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
section:nth-child(1){
    background-image: ;
}
section:nth-child(2) {
    flex-direction: column;
}