@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500&display=swap');
:root {
    --fontWeight : 600;
    --fontFamily :  'Merriweather Sans', sans-serif;
    --fontSize : 13px;
}
* {
    padding: 0px;
    margin:0px;
}
main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
section:nth-child(1){
    flex: 50%;
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}
section:nth-child(2) {
    flex: 50%;
    flex-direction: column;
}
.container {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-height: inherit;
    min-height: 300px;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: inherit;
    font-family: var(--fontFamily);
    font-size: var(--fontSize);
}
input,button {
    width: inherit;
    height: 25px;
    border-radius: 4px;
    outline-color: rgb(21, 209, 18);
    border: 0.4px solid rgb(0, 163, 228);
}
input {
    padding-left: 3px;
}
button {
    background-color: #040454;
    color: white;
}